$tab-active: var(--green);
$tab-hover: rgba(var(--green),0.5);

.tabs {

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__contents {
        padding: 1rem 1.2rem;
        background-color: $tab-active;
        border-radius: 0 0 0.4rem 0.4rem;

        @media screen and (max-width: 600px) {
            border-top: 2px solid var(--greeny);
        }
    }
}

.tab-title {
    padding: 0.5rem 1.2rem;
    border: 0;
    border-top: 2px solid var(--green);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.15s ease;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--light-gray);
    border-right: 2px solid var(--green);

    &:first-child {
        border-left: 2px solid var(--green);
        border-radius: 0.5rem 0 0 0;
    }
    &:last-child {
        border-right: 2px solid var(--green);
        border-radius: 0 0.5rem 0 0;
    }

    &:hover {
        background-color: $tab-hover;
        color: var(--greeny);
    }

    &.active {
        background-color: $tab-active;
        color: var(--yellow);
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        border-left: 2px solid var(--green);

        &:first-child {
            border-left: 2px solid var(--green);
            border-radius: 0.5rem 0.5rem 0 0;
        }
        &:last-child {
            border-radius: 0;
        }
    }
}

.tab-content {

    p {

        &:last-child {
            margin-bottom: 0;
        }
    }
}