@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Mukta:wght@400;700&display=swap');

@import "./settings";

/*	CSS Variables
--------------------------------------- */

// Global CSS variables
:root {
    // - colors
    --gray: #333333;
    --light-gray: #F0F0F0;
    --red: #E4002B;
    --turquoise: #009999;
    --green: #708238;
    --greeny: #a7d41a;
    --beige: #D2B48C;
    --yellow: #FFD700;
    --blue: #003153;
    --sky-blue: #B3E5FC;
}

/*	Some normalizing
--------------------------------------- */

body {
    margin: 0;
    padding-top: 5.4rem;
    background-color: var(--gray);
    color: var(--light-gray);
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--beige);
}

h1 {
    font-size: 2rem;
    width: 100%;
    border-bottom: 1px solid var(--beige);
    text-align: center;
}

p {
    margin-top: 0;
}

button {
    transition: all 0.3s ease;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

/*	Basic global styling
--------------------------------------- */

figure {
    margin: 0;
}

section {
    margin-bottom: 4rem;

    #root > & {
        margin-bottom: 0;
    }
}

.container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (max-width: $mobile) {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}